doctype html
html
  head
    title Welcome to .Cleafy
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive.css')
    link(rel='stylesheet', href='static/css/style.css')
    link(rel='shortcut icon', href='static/img/favicon.png', type='image/png')

  body

    .page.page-fullscreen
      .padding
        .logo
          img(src='static/img/logo-color.png')
        .payoff
          h1 The Web Immune System
        .spacer-60
        form.pure-form(action='https://www.youform.me/api/form/384854a1-5442-4b8d-8c59-17160be05399', method='post')
          legend
            strong Stay in touch
          .spacer-20
          input(type='text', name='name', placeholder='Your full name')
          .spacer-20
          input(type='text', name='email', placeholder='E-mail address')
          .spacer-20
          textarea(name='message', placeholder='Write here a message')
          .spacer-20
          button.pure-button(type='submit')
            span Send

    //-script(type='text/javascript', src='static/js/main.js')
