@import ('nib')
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')


/* @CUSTOM colors for easy use */
_accent = #546cad
/* end @CUSTOM */

.open-sans
  font-family 'Open Sans', sans-serif

.pure-g [class *='pure-u'],
.pure-g-r [class*="pure-u"]
  @extends .open-sans

html,
body
  width 100%
  height 100%
  @extends .open-sans
  background-image url("../img/pattern.png")
  background-size 70px 70px
  background-repeat repeat
  background-position left center
  color #292929

.pure-form
  max-width 500px
  input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='search'], input[type='tel'], input[type='color'], select, textarea
    @extends .open-sans
    padding 15px 17px
    border-width 1px
    font-size 15px
    font-weight 400
    width 100%
  button
    @extends .open-sans
    padding 15px 17px
    background #CCC
    font-weight 700
    text-transform lowercase
    color #FFF
    box-shadow none !important
    &:hover
      background _accent
    &:focus
      background darken(_accent, 10%)
    &:active
      background darken(_accent, 10%)

/* @CUSTOM CSS for fast start */
.page
  width 100%
  height auto
  overflow hidden
  &.page-white
    background #FFF
  &.page-accent
    background _accent
  &.page-shadow
    box-shadow 0 0 15px rgba(#000, 0.2)
  &.page-fullscreen
    height 100%
    display table

    & > .inner
      display table-cell
      width 100%
      vertical-align middle

  .padding
    padding 50px

h1, h2, h3
  font-weight 400
h4, h5, h6
  font-weight 600

_spacer = 5, 10, 20, 40, 60, 80, 100, 150

for _val in _spacer
  .spacer-{ _val }
    height ( _val * 1px )

.text-left
  text-align left
.text-center
  text-align center
.text-right
  text-align right

.container
  width 1280px
  max-width 80%
  margin auto

h1
  font-weight 700
  font-size 1.4em
  text-transform uppercase

.logo
  background #FFF
  width 140px
  margin-left -50px
  padding-left 50px
  img
    width 100px
    margin 18px 20px 10px 0

.payoff
  h1
    margin 0
    margin-left -50px
    background _accent
    color #FFF
    display inline-block
    padding 15px 25px 15px 50px


.alternate
  .pure-form
    margin auto
  .logo-big
    width 160px
  h1
    font-weight 300
    font-size 3em
    letter-spacing 8px

@media all and (max-width: 700px)
  .alternate
    h1
      font-size 1.8em
      letter-spacing 4px